# Master Dataframe

We will be combining our water, conflict and demographic data into one master dataframe to be readily used for analysis and modelling.

In [4]:
#importing relevant packages
%run /Users/thomasadler/Desktop/futuristic-platipus/notebooks/ta_01_packages.py

In [5]:
# import useful functions
%run /Users/thomasadler/Desktop/futuristic-platipus/notebooks/ta_02_functions.py

In [6]:
#defining working directory
filepath = '/Users/thomasadler/Desktop/capstone_docs/'

## Loading datasets

In [8]:
#water points
water_df=pd.read_csv(filepath + 'uganda_water_df_clean.csv')

#check
water_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108257 entries, 0 to 108256
Data columns (total 36 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 108257 non-null  int64
 1   row_id                     108257 non-null  int64
 2   source                     108257 non-null  object
 3   lat_deg                    108257 non-null  float64
 4   lon_deg                    108257 non-null  float64
 5   report_date                108257 non-null  object
 6   status_id                  108257 non-null  int64
 7   facility_type              108257 non-null  object
 8   clean_country_name         108257 non-null  object
 9   clean_adm1                 108257 non-null  object
 10  clean_adm2                 108257 non-null  object
 11  clean_adm3                 108257 non-null  object
 12  clean_adm4                 108257 non-null  object
 13  distance_to_primary        108257 non-null  float64
 14  distance_to_secondary      108257 non-null  float64
 15  distance_to_tertiary       108257 non-null  float64
 16  distance_to_city           108257 non-null  float64
 17  distance_to_town           108257 non-null  float64
 18  usage_cap                  108257 non-null  float64
 19  staleness_score            108257 non-null  float64
 20  is_latest                  108257 non-null  int64
 21  location_id                108257 non-null  int64
 22  cluster_size               108257 non-null  float64
 23  new_georeferenced_column_  108257 non-null  object
 24  lat_lon_deg                108257 non-null  object
 25  count                      108257 non-null  float64
 26  water_source_clean         91014 non-null   object
 27  water_source_category      91014 non-null   object
 28  wpdx_id                    107227 non-null  object
 29  install_year               88820 non-null   object
 30  management_clean           91632 non-null   object
 31  status_clean               88765 non-null   object
 32  served_population          108257 non-null  float64
 33  local_population           108257 non-null  float64
 34  crucialness                108257 non-null  float64
 35  pressure                   108257 non-null  float64
dtypes: float64(15), int64(5), object(16)
memory usage: 29.7+ MB

In [10]:
#conflict events
conflict_df=pd.read_csv(filepath +'uganda_conflict_df_clean.csv')

#check
conflict_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7793 entries, 0 to 7792
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      7793 non-null   int64
 1   data_id         7793 non-null   int64
 2   event_date      7793 non-null   object
 3   event_type      7793 non-null   object
 4   sub_event_type  7793 non-null   object
 5   actor1          7793 non-null   object
 6   assoc_actor_1   1920 non-null   object
 7   inter1          7793 non-null   int64
 8   actor2          6551 non-null   object
 9   assoc_actor_2   1647 non-null   object
 10  inter2          7793 non-null   int64
 11  interaction     7793 non-null   int64
 12  clean_adm1      7793 non-null   object
 13  clean_adm2      7793 non-null   object
 14  clean_adm3      7793 non-null   object
 15  clean_adm4      7793 non-null   object
 16  latitude        7793 non-null   float64
 17  longitude       7793 non-null   float64
 18  source          7793 non-null   object
 19  source_scale    7793 non-null   object
 20  notes           7711 non-null   object
 21  fatalities      7793 non-null   float64
dtypes: float64(3), int64(5), object(14)
memory usage: 1.3+ MB

In [9]:
#demographic variables
demographic_df=pd.read_csv(filepath +'subcounty_demographic_clean.csv')

#check
demographic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1382 entries, 0 to 1381
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   1382 non-null   int64
 1   clean_adm4                   1382 non-null   object
 2   perc_hh_head_male            1382 non-null   float64
 3   perc_pop612_primary          1382 non-null   float64
 4   perc_pop1318_secondary       1382 non-null   float64
 5   perc_pop18p_illiterate       1382 non-null   float64
 6   perc_pop017_certificate      1382 non-null   float64
 7   perc_pop017_both_parents     1382 non-null   float64
 8   perc_pop2p_disability        1382 non-null   float64
 9   perc_pop1017_married         1382 non-null   float64
 10  perc_pop1217_birth           1382 non-null   float64
 11  perc_pop1464_working         1382 non-null   float64
 12  perc_pop10p_mobile_phone     1382 non-null   float64
 13  perc_hh_temp_dwelling        1382 non-null   float64
 14  perc_pop_5km_dist_primary    1382 non-null   float64
 15  perc_pop_5km_dist_secondary  1382 non-null   float64
 16  perc_pop_5km_dist_health     1382 non-null   float64
 17  perc_pop_5km_dist_police     1382 non-null   float64
 18  perc_hh_mosquito_net         1382 non-null   float64
 19  perc_hh_piped_water          1382 non-null   float64
 20  perc_hh_borehole             1382 non-null   float64
 21  perc_hh_toilet               1382 non-null   float64
 22  perc_hh_own_house            1382 non-null   float64
 23  perc_hh_own_tv               1382 non-null   float64
 24  perc_hh_bank_acc             1382 non-null   float64
 25  perc_hh_subs_farm            1382 non-null   float64
 26  perc_hh_less2meals           1382 non-null   float64
 27  perc_hh_electricity          1382 non-null   float64
 28  tot_pop_subcounty            1382 non-null   float64
dtypes: float64(27), int64(1), object(1)
memory usage: 313.2+ KB

## Merge datasets

We want to get demographic information for each water point at its most local level.

In [17]:
#merge water dataset with demographic dataset
master_df=pd.merge(water_df, demographic_df, how='left',\
                               left_on=water_df['clean_adm4'],\
                               right_on=demographic_df['clean_adm4'])

#check
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108257 entries, 0 to 108256
Data columns (total 66 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   key_0                        108257 non-null  object
 1   Unnamed: 0_x                 108257 non-null  int64
 2   row_id                       108257 non-null  int64
 3   source                       108257 non-null  object
 4   lat_deg                      108257 non-null  float64
 5   lon_deg                      108257 non-null  float64
 6   report_date                  108257 non-null  object
 7   status_id                    108257 non-null  int64
 8   facility_type                108257 non-null  object
 9   clean_country_name           108257 non-null  object
 10  clean_adm1                   108257 non-null  object
 11  clean_adm2                   108257 non-null  object
 12  clean_adm3                   108257 non-null  object
 13  clean_adm4_x                 108257 non-null  object
 14  distance_to_primary          108257 non-null  float64
 15  distance_to_secondary        108257 non-null  float64
 16  distance_to_tertiary         108257 non-null  float64
 17  distance_to_city             108257 non-null  float64
 18  distance_to_town             108257 non-null  float64
 19  usage_cap                    108257 non-null  float64
 20  staleness_score              108257 non-null  float64
 21  is_latest                    108257 non-null  int64
 22  location_id                  108257 non-null  int64
 23  cluster_size                 108257 non-null  float64
 24  new_georeferenced_column_    108257 non-null  object
 25  lat_lon_deg                  108257 non-null  object
 26  count                        108257 non-null  float64
 27  water_source_clean           91014 non-null   object
 28  water_source_category        91014 non-null   object
 29  wpdx_id                      107227 non-null  object
 30  install_year                 88820 non-null   object
 31  management_clean             91632 non-null   object
 32  status_clean                 88765 non-null   object
 33  served_population            108257 non-null  float64
 34  local_population             108257 non-null  float64
 35  crucialness                  108257 non-null  float64
 36  pressure                     108257 non-null  float64
 37  Unnamed: 0_y                 103952 non-null  float64
 38  clean_adm4_y                 103952 non-null  object
 39  perc_hh_head_male            103952 non-null  float64
 40  perc_pop612_primary          103952 non-null  float64
 41  perc_pop1318_secondary       103952 non-null  float64
 42  perc_pop18p_illiterate       103952 non-null  float64
 43  perc_pop017_certificate      103952 non-null  float64
 44  perc_pop017_both_parents     103952 non-null  float64
 45  perc_pop2p_disability        103952 non-null  float64
 46  perc_pop1017_married         103952 non-null  float64
 47  perc_pop1217_birth           103952 non-null  float64
 48  perc_pop1464_working         103952 non-null  float64
 49  perc_pop10p_mobile_phone     103952 non-null  float64
 50  perc_hh_temp_dwelling        103952 non-null  float64
 51  perc_pop_5km_dist_primary    103952 non-null  float64
 52  perc_pop_5km_dist_secondary  103952 non-null  float64
 53  perc_pop_5km_dist_health     103952 non-null  float64
 54  perc_pop_5km_dist_police     103952 non-null  float64
 55  perc_hh_mosquito_net         103952 non-null  float64
 56  perc_hh_piped_water          103952 non-null  float64
 57  perc_hh_borehole             103952 non-null  float64
 58  perc_hh_toilet               103952 non-null  float64
 59  perc_hh_own_house            103952 non-null  float64
 60  perc_hh_own_tv               103952 non-null  float64
 61  perc_hh_bank_acc             103952 non-null  float64
 62  perc_hh_subs_farm            103952 non-null  float64
 63  perc_hh_less2meals           103952 non-null  float64
 64  perc_hh_electricity          103952 non-null  float64
 65  tot_pop_subcounty            103952 non-null  float64
dtypes: float64(43), int64(5), object(18)
memory usage: 55.3+ MB

In [28]:
# convert to datetime
date_converter(master_df, 'report_date')

#create new columns for month and year
master_df['report_year']=master_df['report_date'].dt.year
master_df['report_month']=master_df['report_date'].dt.month
master_df['report_year_month']= master_df['report_year'].map(str) + '-' + master_df['report_month'].map(str)

# check
master_df.head()

,key_0,Unnamed: 0_x,row_id,source,lat_deg,lon_deg,report_date,status_id,facility_type,clean_country_name,...,perc_hh_own_house,perc_hh_own_tv,perc_hh_bank_acc,perc_hh_subs_farm,perc_hh_less2meals,perc_hh_electricity,tot_pop_subcounty,report_year,report_month,report_year_month
0,Kabambiro,0,651231,Water For People,0.158537,30.490643,2005-09-07,1,Improved,Uganda,...,87.942373,1.249238,10.259377,91.358551,4.212975,4.461754,15484.0,2005,9,2005-9
1,Nyabbani,1,652323,Water For People,0.070597,30.415651,2005-09-07,1,Improved,Uganda,...,88.482012,2.614604,14.573029,92.319897,4.458575,7.565426,21953.0,2005,9,2005-9
2,Kabambiro,2,654375,Water For People,0.158667,30.490551,2005-09-07,1,Improved,Uganda,...,87.942373,1.249238,10.259377,91.358551,4.212975,4.461754,15484.0,2005,9,2005-9
3,Kamwenge,3,654822,Water For People,0.208128,30.386393,2005-09-07,1,Improved,Uganda,...,87.243217,2.055043,12.522317,91.411940,3.893017,5.780841,22010.0,2005,9,2005-9
4,Kicheche,4,660256,Water For People,-0.134680,30.351593,2005-09-07,1,Improved,Uganda,...,89.721699,4.054211,20.201299,87.522511,4.271490,9.606041,26338.0,2005,9,2005-9

In [29]:
#for each adm4/year/month, get number of fatalities/events in last year, last 5/10/20

In [ ]:
#merge master and conflict

## Clean data

In [ ]:
#duplicates 2x, null, types, column names, drop columns

## EDA

In [ ]:
#outcome is water functioning

In [ ]:
#data dictionary